nav {
  display: flex;
  gap: 12px;
  background-color: #5780e0;
  padding: 12px 20px;
}

.navlink {
  color: #fafafa;
  font-weight: 500;
  background-color: #6699ff;
  padding: 4px 12px;
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navlink:hover {
  color: #fff;
  background-color: #5780e0;
}
