.form {
  display: flex;
  gap: 4px;
  padding: 20px;
}

.form input {
  height: 20px;
  width: 200px;
  padding: 8px;
}

.form button {
  padding: 12px;
  margin-bottom: 12px;
  color: #fafafa;
  font-weight: 600;
  background-color: #6699ff;
  border: none;
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form button:hover {
  color: #fff;
  background-color: #5780e0;
}
