.cast-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;

  @media (min-width: 768px) {
    gap: 24px;
  }
}

.member {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    width: 200px;
  }
}

.img,
.iconWrap {
  aspect-ratio: 2/3;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img:hover,
.iconWrap:hover {
  transform: scale(1.1);
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 3, 40, 0.1);
}
