.title {
  max-width: 275px;
  font-size: 2.2em;
  padding-block: 20px;
  color: #fafafa;
  margin-bottom: 18px;
  position: relative;

  @media (min-width: 768px) {
    max-width: none;
  }
}

.title::before {
  position: absolute;
  top: 140px;
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.4);

  @media (min-width: 768px) {
    top: 80px;
  }
}
